<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>James Chapman</h1>
    <nav>
      <ul>
	<li><a href="index.html">About Me</a></li>
	<li><a href="Publications.html">Publications</a></li>
	<li><a href="BSN.html">Big-step normalisation</a></li>
	<li><a href="relmon.html">Relative Monads Formalised</a></li>
	<li><a href="Teaching.html">Teaching</a></li>
      </ul>
    </nav>
    <div class="container">
      
      {{ content }}
      
    </div><!-- /.container -->
    <footer>
      
    </footer>
  </body>
</html>
